


a,a:visited,a:hover, a:focus,a:visited:hover{
    text-decoration: none;
}

body{
    
    font-size: 16px;
    font-weight: 400;
    color: #4D5051;
}

body.admin-bar{
    
}

.text-right{
    text-align: right !important;
}

.text-left{
    text-align: left !important;
}

.text-center{
    text-align: center;
}

.table-display{
    display: table;
}

.cell-display{
    display: table-cell;
    vertical-align: middle;
}

.noshow{
    display: none; 
}

.row{
    max-width: 1200px;
    margin: 0 auto !important;
}

.hidden{
    display: none;
}

.entry-title{
    
    font-size: 32px;
}

#main.layla-page,
#main.site-main{
    margin-top: 15px;
    
}

#main.site-main.frontpage-main{
    margin-top: 0;
}

#main.layla-blog{
    margin-top: 85px;
    
}

.layla-blog-content {
    overflow: hidden;
}

#main.layla-page .entry-content .entry-title,
#main.site-main .entry-content .entry-title{
    margin-top: 0;
}

#main.layla-page #layla-page-jumbotron,
#main.site-main #layla-page-jumbotron{
    margin-top: -85px;
}

ul{
    margin: 0;
    /*padding-left: 0;*/
}

ul li{
    /*list-style: none;*/
    /*padding-left: 0;*/
}
.delay1{
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.delay2{
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.delay3{
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.delay-long{
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;    
}

.parallax{
    position: relative;
}

[data-parallax="scroll"]{ 
    background-attachment:fixed;
    background-repeat-x: no-repeat;
    background-repeat-y: repeat;
    background-size: cover;
}
/*-- ## Pre header --*/
#pre-header {
    height: 28px;
    line-height: 28px;
    background: #ffffff;
    font-size: 12px;
}

/*-- ## Header --*/

.layla-branding{
    float: left
}
.layla-header-menu{
    float: right;
}

#layla-header #layla-logo img{
    /*max-height: 150px;*/
}

#layla-logo{
    line-height: 85px;
}

#layla-logo img{
    max-height: 80px;
    width: auto;
    /*padding: 10px 0;*/
}


#layla-header{
    background: #101010;
/*    position: fixed;
    top: 0;
    left: 0;
    width: 100%;*/
}

#layla-header.sticky{
    top: 0;
    position: fixed;
    
}


#layla-header .header-inner a{
    color: #414141;
}

#layla-header .header-inner{
    background: transparent;
    /*height: 85px;*/
    
}
#layla-header .header-inner a{
    color: #fff;
}

#layla-header .header-inner ul#primary-menu{
    height: 85px;
    line-height: 75px;
}

#layla-header .header-inner ul.sub-menu a{
    color: #fff;
    line-height: 20px;
}


#masthead.site-header{
    z-index: 1;
    position: relative;
    background: #101010;
    
}



.site-title{
    margin: 0;
    font-size: 45px;
}

.site-description{
    margin: 0;
    font-size: 16px;
    line-height: 14px;
    padding-top: 0;
}

.site-title a,
.site-description{
    /*color: #fff;*/
}

#layla-header .site-description{
    color: #fff;
}

#layla-header.frontpage.sticky .site-description{
    color: #414141;
}
.site-branding{
    padding: 0px 10px;
}

#layla-search{
    background: #111111;
    background: rgba( 50, 50, 50, 0.9 );
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    margin: 0 auto;
    text-align: center;
    padding-top: 150px;
}

#layla-search .search-field{
    padding: 12px 15px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 22px;
}

#layla-search .search-form{
    display: inline-block;
}

#layla-search .fa.fa-close{
    color: #fff;
    cursor: pointer;
    font-weight: 100;
    font-size: 32px;
    position: absolute;
    top: 10px;
    right: 10px;
}

#layla-search input[type="search"]{
    
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    color: rgba( 255,255,255,0.9);
}

.main-navigation .layla-cart,
.layla-mobile-cart .layla-cart{
    padding: 5px 10px;
    border-radius: 20px;
    background: transparent !important;
    color: #fff !important;
    position: relative;
    top: -5px;
}
.layla-mobile-cart .layla-cart{
    position: initial;
    display: none;
}

/*-- ## Navigation --*/

#layla-add-menu{
    text-align: center;
    padding: 27px 0;
}

.sticky #layla-add-menu{
    text-align: center;
    padding: 15px 0;
}

#layla-add-menu a{
    color: #fff;
}

.layla-mobile-cart{
    display: none;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

#layla-header .slicknav_menu{
    float: right;
    background: rgb(27, 27, 27);
    display: none;
    position: absolute;
    right: 0;
    top: 1px;
    padding: 10px;
    font-size: 18px;
}

.slicknav_nav .slicknav_row:hover{
    background: transparent !important;
}

.slicknav_nav a:hover{
    background: transparent !important;
}

#layla-header .slicknav_menu .slicknav_icon-bar{
    font-size: 30px;

}

.slicknav_btn{
    background-color: #1b1b1b;
}

ul.layla-nav ul {
    box-shadow: none;
    text-align: left;
    float: left;
    position: absolute;
    top: 41px;
    left: -999em;
    z-index: 99999;
    background: transparent;
    padding: 44px 0 15px 10px;

}

.sticky ul.layla-nav ul{
    padding: 9px 0 15px 10px;
    top: 21px;
        
}

ul.layla-nav ul ul {
    float: none;
    left: 0 !important;
    position: relative;
    padding: 0 0 0 15px;;
    margin-top: 5px;
}

ul.layla-nav ul ul li{
    padding: 0px;
    background: transparent;
}

ul.layla-nav ul li{
    background: #101010;
    background: rgba(0,0,0,0.7);
    padding: 5px 15px 5px 15px;
    width: 100%;
    
}
ul.layla-nav ul li:hover ul{
    left: 0;
}


ul.layla-nav ul li:last-child{
    /*padding-bottom: 20px;*/
}

ul.layla-nav ul li a{
    font-size: 12px;
}

ul.layla-nav{
    /*padding: 40px 10px;*/
    float: right;
}
ul.layla-nav a{
    
    font-size: 14px;
    color: #f9f9f9;
    color: rgba(255, 255, 255, 0.8);
    
}

ul.layla-nav > li.menu-item{
    margin-right: 25px;
}

ul.layla-nav > li.menu-item a{
    margin-right: 0;
    font-weight: 600;
    padding-bottom: 7px;
    transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
    letter-spacing: 2px;
    border-bottom: 2px solid transparent;
    
}

ul.layla-nav > li.menu-item.current-menu-item a,
ul.layla-nav > li.menu-item.current-menu-parent a,
ul.layla-nav > li.menu-item a:hover{
    
    border-bottom: 2px solid transparent;

}

ul.layla-nav > li.menu-item.current-menu-parent ul a{
    border-bottom: none !important;
}

ul.layla-nav > li.menu-item.current-menu-item ul li a{
    border-bottom: none;
}


ul.layla-nav > li.menu-item.menu-item-has-children > a:after{
    font-family: FontAwesome;
    content: "\f078";
    margin-left: 8px;
    margin-right: 10px;
    font-weight: 100;
    font-size: 12px;
}

/*-- Custom Header --*/
.wp-custom-header iframe,
.wp-custom-header img,
.wp-custom-header video {
	display: block;
	height: auto;
	width: 100%;
        height: 400px;
        /*position: fixed;*/
}

.wp-custom-header .wp-custom-header-video-button {
    background-color: rgba(34, 34, 34, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 0.6);
    height: 45px;
    overflow: hidden;
    padding: 0;
    position: fixed;
    right: 30px;
    top: 30px;
    -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
    width: 45px;
}


/*-- Featured Post --*/
#layla-featured-post{
    overflow: hidden;
    position: relative;
}

#layla-featured-post #slide1{
    background-size: cover;
    height: 400px;
    position: relative;
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-image: url('../images/layla.jpg');
    
}

#layla-featured-post #slide1 .row{
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
}

#layla-featured-post #slide1 .slide-details{
    text-align: center;
}

#layla-featured-post #slide1 .slide-vert-wrapper {
    width: 100%;
    display: table;
}
 
#layla-featured-post #slide1 .slide-vert-inner {
    display: table-cell;
    vertical-align: middle;
}

#layla-featured-post #slide1 p{
    font-size: 22px;
    color: #fff;
    margin: 25px auto 32px auto;
    width: 70%;
} 

@media( max-width: 480px ) {
    #layla-featured-post #slide1,
    #layla-featured-post #slide1 .slide-vert-wrapper {
        height: 350px !important;
    }
    
    #layla-featured-post #slide1 p {
        display: none;
    }
    
    #layla-featured-post #slide1 h2 {
        font-size: 28px !important;
        line-height: 32px !important;
        margin-bottom: 15px !important;
    }
}

#layla-featured-post #slide1 span.header-inner{
    
}




#layla-featured-post #slide1 .overlay{
    background: rgba( 0,0,0,0.4);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#layla-featured-post #slide1 h2{
    font-size: 44px;
    line-height: 46px;
    color: #fff;
    margin: 0;
}

#layla-featured-post #layla-social {
    margin: 0;
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: 0;
    
}

#layla-featured-post #layla-social a{
    display: block;
    width: 35px;
    height: 30px;
    
    text-align: center;
    line-height: 30px;
    margin-right: 0;
    transition: 0.15s all ease-in-out;
    -moz-transition: 0.15s all ease-in-out;
    -webkit-transition: 0.15s all ease-in-out;    
}

#layla-featured-post #layla-social a:hover {
    width: 45px;
    
}


/*-- ## Homepage --*/




#layla-jumbotron{
    overflow: hidden;
    height: 100%;
}

#layla-jumbotron .hero{
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
}

#layla-jumbotron .layla-button{
    margin-bottom: 10px;
}

#layla-jumbotron .overlay{
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
}


#layla-jumbotron .hero img{
    width: 100%;
}

#layla-jumbotron h2.header-text{
    font-size: 46px;
    color: #fff;
}

.slide1_button{
    background: #414141;
    background: RGBA(65,65,65,0.7);
    display: inline-block;
    padding: 12px 15px;
}

.slider-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 100%;
    background: transparent;
}

.slider-bottom .scroll-down{
    color: #fff;
    font-size: 30px;
    font-weight: 100;
    animation-delay: 1.5s;
    position: relative;
    top: 20px;
    transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

.slider-bottom .scroll-down:hover{
    
    font-size: 34px;    
}

#layla-jumbotron .camera_overlayer{
    background: rgba(0,0,0,0.4);
}

#layla-featured{
    width: 100%;
    min-height: 320px;
    background: #e1e1e1;
    color: #000;
    
    text-align: center;
    overflow: hidden;
    z-index: 0;
    position: relative;
}


#layla-video{
    
    width: 100%;
    position: relative;
    
}

#layla-featured .featured-box{
    padding: 50px 30px;
    min-height: 320px;
    cursor: pointer;
}

#layla-featured .featured-box2,
#layla-featured .featured-box3{
    /*background: rgba(50,50,50, 0.1);*/
}

#layla-featured .layla-icon{
    color: #333;
    font-size: 38px;
    margin: 5px 0 25px 0;
    position: relative;
    
}

#layla-featured .layla-title{
    margin: 0 0 20px 0;
    font-size: 26px;
    
}

#layla-featured .layla-desc{
    margin: 0 0 20px 0;
    font-size: 16px;
    position: relative;
}

.frontpage-blog{
    margin: 30px 0;
}


.overlay-widget{
    color: #414141;
    display: none;
    position: fixed;
    background: rgba(255,255,255,0.96);
    width: 100%;
    height: 100%;
    z-index: 9;
}


/*-- ## Top A --*/
#layla-topa{
    padding: 50px 0;
    overflow: hidden;
}

#layla-topa .heading{
    font-size: 38px;
    line-height: 48px;
    margin: 8px 0 15px 0;
    font-weight: 800;
}

#layla-topa .heading:after{
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    width: 220px;
    margin-top: 13px;
    margin-left: -110px;
    border-top: 4px solid rgba(234, 234, 234, 0.6);
}

#layla-topa .sub-heading{
    font-size: 25px;
    line-height: 27px;
    margin: 20px 0 5px 0;
    font-style: italic;
    font-weight: 500;
    color: #AAA;
}

#layla-topa .description{
    font-size: 22px;
    padding: 15px 0 0 0;
    
}

#layla-topa .wp-post-image{
    width: 50%;
    border: 4px solid rgba(234, 234, 234, 0.6);
}

/*-- ## Buttons --*/
.layla-button,
a.layla-button,
button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"],
.woocommerce ul.products li.product .button{
    padding: 10px 15px !important;
    color: #fff;
    background: #717171;
    margin-right: 10px !important;
    display: inline-block;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    border-radius: 0;
    border-radius: 20px;
}

.layla-button.large{
    padding: 15px 25px;
    font-size: 20px;
}

.layla-button:hover{
    color: #fff;
    background: #505050;
}

.layla-button.default{
    color: #fff;
    background: #e1e1e1;  
}

.layla-button.default:hover{
    background: #e3e3e3;
    color: #fff;
}

/*-- 5. Footer --*/
.layla-footer{
    
    background-repeat-x: no-repeat;
    background-repeat-y: repeat;
    background-size: cover;
    color: #fff;
    color: rgba(255,255,255,0.9);
    overflow: hidden;
    /*padding: 40px 0 0 0;*/
}

.layla-footer > div{
    overflow: hidden;
    background: rgba(0,0,0, 0.6);  
    padding: 55px 0 30px 0px;
    min-height: 350px;
}

.layla-footer ul li{
    /*border-bottom: 2px solid #000;*/
    padding-bottom: 20px !important;
}

.site-info{
    background: #fff;
    color: #414141;
    padding: 40px;
    text-align: center;
    position: relative;
}

.site-info a,
.site-info a:visited{
    color: #414141;
}
.layla-footer-nav{
    margin-top: 10px;
    padding-left: 0;
}

.layla-footer-nav li{
    display: inline-block;
}

.layla-footer-nav li a{
    border-bottom: 1px solid rgba(255,255,255,0.9);
}

.layla-footer-nav li:after{
    content: ' / ';
    color: #fff;
}

.layla-footer-nav li:last-child:after{
    content: '';
}

#layla-social{
    margin: 10px 0 20px 0;
}

#layla-social a{
    display: inline-block;
    margin-right: 12px;
    font-size: 18px;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
}

.scroll-top{
    padding: 20px;
    color: #fff;
    color: rgba( 255,255,255,0.9);
    font-size: 14px;
    font-weight: 100;
    background: #000;
    background: rgb(10,10,10);
    position: absolute;
    bottom: 10px;
    right: 20px;
    transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
    cursor: pointer;
    border-radius: 2px;
}

.scroll-top:hover{
    background: #e1e1e1;
}

.layla-copyright{
    font-size: 12px;
    padding: 10px 0;
}

#footer-menu li ul{
    display: none;
}

.site-info a.rel{
    display: block !important;
}

/*-- 6. Sidebar --*/

#layla-sidebar{
    margin-top: 30px;
    overflow: hidden;
}

#layla-sidebar .widget-title{
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 15px 0;
}

#layla-sidebar ul li{
    margin-bottom: 10px;
}

#layla-sidebar aside{
    margin-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 10px;
}

/*-- 7. Page --*/
#layla-page-jumbotron{
    width: 100%;
    background-size: cover;
    height: 400px;
    overflow: hidden;
    position: relative;
    background-position: 50%;
}

#layla-page-jumbotron.shop-header{
    height: 200px;
}

#layla-page-jumbotron .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
}

#layla-page-jumbotron .entry-title{
    /*margin-top: 150px;*/
    text-align: center;
    color: #fff;
    position: relative;
    font-size: 46px;
    margin: 0;
}

/*-- 8. Blog --*/

#main.layla-blog .wp-post-image,
.homepage-page-content .post .wp-post-image{
    width: 100%;
}

.homepage-page-content .post .entry-title{
    display: block;
}

#main.layla-blog .entry-title{
    margin: 8px 0;
}

.entry-meta{
    margin-top: 30px;
    font-size: 16px;
}

.entry-meta .fa{
    display: inline-block;
    width: 21px;
    height: 21px;
    background: #4D5051;
    color: #fff;
    border-radius: 100%;
    font-size: 12px;
    text-align: center;
    line-height: 21px;
    margin-bottom: 1px;
}

.entry-meta .entry-date{
    margin-top: 30px;
    color: #4D5051;
    
}

.entry-meta .entry-title{
    font-size: 44px;
    line-height: 48px;
    margin-top: 10px;
}

.entry-meta .single-post-thumbnail {
    margin-top: 15px;
}

.entry-meta .single-post-thumbnail img {
    width: 100%;
}

.entry-meta .post-category a {
    font-size: 12px;
    text-transform: uppercase;
    padding: 0 24px;
    height: 32px;
    line-height: 32px;
    background: #f9f9f9;
    display: inline-block;
    color: #fff;
}

.entry-meta .author {
    font-size: 14px;
    font-weight: 300;
}

#layla-page-jumbotron .cat-links .fa,
#layla-page-jumbotron .cat-links{
    color: #fff;    
}

#layla-page-jumbotron .tags-links {
    display: none;
}

#layla-page-jumbotron .cat-links a{
    color: #fff;
    font-size: 18px;
}

.post-edit-link{
    display: none;
}

#main.layla-blog .entry-meta .meta-detail{
    text-align: left;
}

#main.layla-blog .entry-meta .meta-detail > span{
    margin-right: 12px;
}

.layla-blog-post{
    width: 100%;
    height: 250px;
    margin-bottom: 0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid #fff;
}

.layla-blog-post .entry-meta .entry-date{
    color: #fff;
}

.comment-list{
    margin-left: 0;
}

@media( min-width: 769px ) {

    .layla-blog-post{
        width: 50%;
        height: 250px;
        float: left;
    }
    
}


.layla-blog-post:hover .post-panel-content{
    display: block;
    background: rgba(0,0,0,0.2);
}

.layla-blog-post:nth-of-type(7n+2) .post-panel-content,
.layla-blog-post:nth-of-type(7n+3) .post-panel-content,
.layla-blog-post:nth-of-type(7n+4) .post-panel-content{
    display: block;
}


.layla-blog-post .post-panel-content{
    padding: 0 15px 15px 15px;
    background: rgba(0,0,0,0.6);
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.2s all ease-in-out;
    color: #fff;

}

.layla-blog-post .post-panel-content a{
    color: #fff;
}

.layla-blog-post .post-panel-content h2.entry-title{
    font-size: 24px;
    line-height: 26px;
}

.layla-blog-post.masonry{
    width: 46%;
    margin-right: 1%;
}

.layla-blog-page{
    margin-top: 40px;
 
}

.continue-reading{
    margin-top: 15px;
}

/*------------- Pagination --------------*/
.layla-pagination{
    text-align: center;
    margin-top: 15px;
}
.layla-pagination span,
.layla-pagination a{
    margin-right: 4px;
}

.post-navigation .nav-next,
.post-navigation .nav-previous{
    display: none;
}

.layla-pagination nav.posts-navigation {
    overflow: initial;
}

.layla-pagination nav.posts-navigation .nav-next,
.layla-pagination nav.posts-navigation .nav-previous {
    padding: 20px 0;
}
 
.layla-pagination nav.posts-navigation .nav-previous {
    text-align: left;
}

/* ------- calendar widget --------------*/
.widget_calendar {float: left;}
#wp-calendar {width: 100%; }
#wp-calendar caption { text-align: right; color: #333; font-size: 12px; margin-top: 10px; margin-bottom: 15px; }
#wp-calendar thead { font-size: 10px; }
#wp-calendar thead th { padding-bottom: 10px; }
#wp-calendar tbody { color: #aaa; }
#wp-calendar tbody td { background: #f5f5f5; border: 1px solid #fff; text-align: center; padding:8px;}
#wp-calendar tbody td:hover { background: #fff; }
#wp-calendar tbody .pad { background: none; }
#wp-calendar tfoot #next { font-size: 10px; text-transform: uppercase; text-align: right; }
#wp-calendar tfoot #prev { font-size: 10px; text-transform: uppercase; padding-top: 10px; }


/*----------------- Layla Recent Articles --------------*/
#layla_recent_posts > div {
    margin-bottom: 30px;

}
#layla_recent_posts img{
    width: 100%;
}
#layla_recent_posts img:hover{

}
#layla_recent_posts .layla-single-post{
    overflow: hidden;

}
#layla_recent_posts .layla-single-post > div a{

}
#layla_recent_posts .layla-single-post > div{
    position: relative;


    overflow: hidden;
}
#layla_recent_posts .title{
    font-weight: 700;
}
#layla_recent_posts .layla-single-post > div:hover img{
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);   
}
#layla_recent_posts .layla-single-post > div img{
        transition: 0.3s all ease-in-out;
        -moz-transition: 0.3s all ease-in-out;
        -webkit-transition: 0.3s all ease-in-out;
}
#layla_recent_posts .layla-single-post > div img:hover{

}
#layla_recent_posts .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 10%; 
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    text-align: center;
    color: #fff;
    font-weight: 600;
}
#layla_recent_posts .overlay:hover{
    background: rgba(0,0,0,0);
}
#layla_recent_posts .overlay .fa-external-link{
    opacity: 0;

    text-align: center;
    font-size: 26px;
    transition: 0.2s all linear;
    -moz-transition: 0.2s all linear;
    -webkit-transition: 0.2s all linear;
}
#layla_recent_posts .overlay:hover .fa-external-link{
    opacity: 1.0;
    transform: scale( 1.5 );
    -webkit-transform: scale( 1.5 );
    -moz-transform: scale( 1.5 );
}

#layla-homepage-widget{

    overflow: hidden;
    text-align: center;
}

#layla-homepage-widget > div{
    overflow: hidden;
    background: rgba(10,10,10, 0.6);
    padding: 55px 0 40px 0px;
    color: #fff;
    color: rgba(255,255,255,0.9);
    min-height: 300px;
}

#layla-topb .widget ul{
    padding-left: 0;
    list-style: none;
}

#layla-topc {
    padding: 55px 0 0 0;
    overflow: hidden;
}

#layla-topc h3.heading{
    font-size: 24px;
    line-height: 28px;
}

#layla-topc img{
    border: 4px solid rgba(234, 234, 234, 0.6);
    transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
}

#layla-topc img:hover{
    
}

.woocommerce div.product p.price, 
.woocommerce div.product span.price,
.woocommerce ul.products li.product .price{
    color: #000;
}

.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product{
    border: 1px solid #f0f0f0;
    box-shadow: 0 0 3px 0 #dadada;
    -moz-box-shadow: 0 0 3px 0 #dadada;
    -webkit-box-shadow: 0 0 3px 0 #dadada;
}

.woocommerce ul.products li.product a img{
    border-bottom: 7px solid;
}

.woocommerce ul.products li.product h3,
.woocommerce ul.products li.product .price{
    padding: 0 15px;
}

a.button.add_to_cart_button,
li.product a.added_to_cart,
li.product a.ajax_add_to_cart{
    float: right;
    margin: 15px;
}

.woocommerce .products .star-rating{
    margin-left: 15px;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title {
    margin-left: 15px;
    padding-right: 15px;
}

.payment-icons{
    margin: 15px auto;
}

.payment-icons .fa {
    font-size: 25px;
}

#title_bread_wrap{
    margin-top: 15px;
}

@media( min-width: 320px ) and ( max-width: 400px ) {
    
    
    
    
}


@media( min-width: 401px ) and ( max-width: 600px ) {
    
    
    
}

@media( min-width : 601px ) and ( max-width: 980px ) {
    
    
    
}

@media( max-width: 991px ) {
    
    #layla-header .slicknav_menu{
        display: block;
    }
    
    #layla-header .header-inner,
    #layla-header .header-inner{
        /*background: #1b1b1b;*/
        height: 70px;
    }

    #layla-header .header-inner #layla-logo{
        
        line-height: 70px;
        
    }
    
    #layla-header .header-inner #layla-logo img{
        
        max-height: 70px;
            /*margin-top: 10px;*/
        
    }
    
    #layla-header .header-inner .site-title{
        font-size: 28px;
        line-height: 50px;
        margin: 0;
    }
    
    .site-description{
        display: none;
    }
    
    #mobile-nav{
        display: block;
    }
    
    #site-navigation{
        display: none;
    }
    
    .site-branding{
        float: left;
    }
    
    .layla-mobile-cart{
        display: inline-block;
        float: right;
    }
    
    
}

@media( min-width: 992px ) {
    
    
    
    
}

@media( max-width: 768px ) {
    
    #layla-topa .wp-post-image{
        width: 100%;

    }
        
    .scroll-top{
        float: none;
        padding: 10px;
        display: inline-block;
        position: initial;
        margin-top: 20px;
    }
    
    #pre-header{
        /*height: auto;*/
    }
    
    .links-login.text-right{
        text-align: left !important;
    }
    
    .links-login,
    .contact-info{
/*        height: 20px;
        line-height: 20px;*/
    }
}


